{# PARTE PERSONALIZADA BOTONES DE FORMACIÓN #}

<div class="container pb-3">
	<div id="area-formacion" class="row">

	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="area-interes card">
	     <div class="card-body">
	        <div class="card-title"><a href="{{rutaCompleta}}/formacion/inicial/formacion-inicial">Formación Inicial</a></div>
	     </div>
	     <div class="img-btn-for">
	     	<a href="{{rutaCompleta}}/formacion/inicial/formacion-inicial">
	      		<img class="card-img-top" src="{{urlAmbito}}/themes/custom/elcej/img/apartados/01formacion.png" alt="Formación Inicial">
	      	</a>
	  	</div>
	    </div>
	  </div>

	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="area-interes card">
	      <div class="card-body">
	        <div class="card-title"><a href="{{rutaCompleta}}/formacion/continua/formacion-continua">Formación Continua</a></div>
	      </div>
	    <div class="img-btn-for">
	    	<a href="{{rutaCompleta}}/formacion/continua/formacion-continua">
	      		<img class="card-img-top" src="{{urlAmbito}}/themes/custom/elcej/img/apartados/02formacion.png" alt="Formación Continua">
	      	</a>
	    </div>
		</div>
	  </div>

	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="area-interes card">
	      <div class="card-body">
	        <div class="card-title"><a href="{{rutaCompleta}}/formacion/internacional/formacion-internacional"><span>Formación Internacional</span></a>
	        </div>
	      </div>
	      <div class="img-btn-for">
	      	<a href="{{rutaCompleta}}/formacion/internacional/formacion-internacional">
	      		<img class="card-img-top" src="{{urlAmbito}}/themes/custom/elcej/img/apartados/03formacion.png" alt="Formación Internacional">
	      	</a>
	  	</div>

	    </div>
	  </div>

	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="area-interes card">
	     <div class="card-body">
	        <div class="card-title"><a href="{{rutaCompleta}}/formacion/formacion-abierta">Formación Abierta</a></div>
	      </div>
	      <div class="img-btn-for">
	      	<a href="{{rutaCompleta}}/formacion/formacion-abierta">
	      	<img class="card-img-top" src="{{urlAmbito}}/themes/custom/elcej/img/apartados/04formacion.png" alt="Formación Abierta">
	      </a>
	  	</div>
	    </div>
	  </div>



	</div>

</div>
<!-- Container -->

{# PARTE PERSONALIZADA BOTONES DEL ÁREA DE INTERÉS #}

<div class="container mb-3">
<div id="area-interes" class="row">

  <div class="col-12 col-sm-6 col-md-3">
    <div class="area-interes card">
	    <div class="img-btn-for">
	    	<a href="https://campus.cej-mjusticia.es/" target="_blank">
	    	<img class="card-img-top" src="{{urlAmbito}}/themes/custom/elcej/img/apartados/aula-global.png" alt="Aula Global">
	    	</a>
		</div>
      	<div class="card-body">
        	<div class="card-title"><a href="https://campus.cej-mjusticia.es/" target="_blank">Aula Global</a></div>
      	</div>

    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-3">
    <div class="area-interes card">
    <div class="img-btn-for">
    	<a href="{{urlAmbito}}/mediateca" target="_blank">
    		<img class="card-img-top" src="{{urlAmbito}}/themes/custom/elcej/img/apartados/mediateca.png" alt="Mediateca">
    	</a>
	</div>
      <div class="card-body">
        <div class="card-title"><a href="{{urlAmbito}}/mediateca" target="_blank">Mediateca</a></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-3">
    <div class="area-interes card">
    <div class="img-btn-for">
    	<a href="{{rutaCompleta}}/biblioteca-documentacion/biblioteca">
    		<img class="card-img-top" src="{{urlAmbito}}/themes/custom/elcej/img/apartados/publicaciones.png" alt="Publicaciones">
    	</a>
    </div>
      <div class="card-body">
        <div class="card-title"><a href="{{rutaCompleta}}/biblioteca-documentacion/biblioteca">Publicaciones</a></div>
      </div>

    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-3">
    <div class="area-interes card">
    <div class="img-btn-for">
    	<a href="http://10.12.99.140/sedeVirtual/">
    		<img class="card-img-top" src="{{urlAmbito}}/themes/custom/elcej/img/apartados/sede-electronica.png" alt="Sede Virtual">
    	</a>
    </div>

      <div class="card-body">
        <div class="card-title"><a href="http://10.12.99.140/sedeVirtual/">Sede Virtual</a></div>
      </div>
    </div>
  </div>

</div>

</div>
<!-- Container -->