{# PARTE PERSONALIZADA BOTONES DE FORMACIÓN #}
<div class="container pb-3">
	<div id="area-formacion" class="row">

	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="nueva-prueba card">
	     <div class="card-body">
	        <div class="card-title"><a href="{{rutaCompleta}}/formacion/inicial">Formación Inicial</a></div>
	      </div>
	      <img class="card-img-top" src="/portal/themes/custom/elcej/img/apartados/01-apartado-f-inicial.png" alt="Formación Inicial">

	    </div>
	  </div>

	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="area-interes card">
	      <div class="card-body">
	        <div class="card-title"><a href="{{rutaCompleta}}/formacion/continua">Formación Continua</a></div>
	      </div>
	      <img class="card-img-top" src="/portal/themes/custom/elcej/img/apartados/02-apartado-f-continua.png" alt="Formación Continua">
	    </div>
	  </div>

	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="area-interes card">
	      <div class="card-body">
	        <div class="card-title"><a href="{{rutaCompleta}}/formacion/internacional"><span>Formación Internacional</span></a></div>
	      </div>
	      <img class="card-img-top" src="/portal/themes/custom/elcej/img/apartados/03-apartado-f-internacional.png" alt="Formación Internacional">

	    </div>
	  </div>

	  <div class="col-12 col-sm-6 col-md-3">
	    <div class="area-interes card">
	     <div class="card-body">
	        <div class="card-title">Formación Abierta</div>
	      </div>
	      <img class="card-img-top" src="/portal/themes/custom/elcej/img/apartados/04-apartado-f-abierta.png" alt="Formación Abierta">
	    </div>
	  </div>



	</div>

</div>
<!-- Container -->

{# PARTE PERSONALIZADA BOTONES DEL ÁREA DE INTERÉS #}

<div class="container mb-3">
<div id="area-interes" class="row">

  <div class="col-12 col-sm-6 col-md-3">
    <div class="nueva-prueba card">
    <img class="card-img-top" src="{{urlAmbito}}/themes/custom/elcej/img/apartados/01-aula-global.png" alt="Aula Global">

      <div class="card-body">
        <div class="card-title"><a href="https://campus.cej-mjusticia.es/" target="_blank">Aula Global</a></div>
      </div>

    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-3">
    <div class="area-interes card">
    <img class="card-img-top" src="/portal/themes/custom/elcej/img/apartados/02-mediateca.png" alt="Mediateca">

      <div class="card-body">
        <div class="card-title"><a href="{{urlAmbito}}/mediateca" target="_blank">Mediateca</a></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-3">
    <div class="area-interes card">
    <img class="card-img-top" src="/portal/themes/custom/elcej/img/apartados/03-publicaciones.png" alt="Publicaciones">

      <div class="card-body">
        <div class="card-title"><a href="{{rutaCompleta}}/biblioteca-documentacion/biblioteca">Publicaciones</a></div>
      </div>

    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-3">
    <div class="area-interes card">
    <img class="card-img-top" src="/portal/themes/custom/elcej/img/apartados/04-sede-electronica.png" alt="Sede electrónica">

      <div class="card-body">
        <div class="card-title">Sede Electrónica</div>
      </div>
    </div>
  </div>



</div>

</div>
<!-- Container -->