<div class="container">
  <div class="row">
    <h1>{{ titulo }}</h1>
      <div class="col-md-12">
        {% set pagoEmpresa = mensajes.salarioBrutoMensual - mensajes.salarioReducido %}

        <div class="todos-datos p-5 m-2">
          <h2>Datos introducidos en el simulador </h2>
          <ul>
            <li> Salario Bruto Anual: {{ mensajes.salarioBruto }}</li>
            <li> Horas de reducción en el ERTE: {{ mensajes.reduccion }}</li>
            <li> Horas de reducción en el ERTE: {{ mensajes.jornada }}</li>
            <li> Número de hijos: {{ mensajes.hijos }} </li>
          </ul>

          <h2>Durante los primeros 6 meses</h2>
          <ul>
            <li> Parte del salario que paga la empresa: {{ pagoEmpresa }}</li>
            <li> Parte del salario que paga la SEPE: {{ mensajes.salarioTotalprimero }}</li>
            <li> Salario Total durante los primero 6 meses: {{ mensajes.salarioTotalprimero + pagoEmpresa }} </li>
          </ul>

          <h2>A partir del séptimo mes </h2>
          <ul>
            <li> Parte del salario que paga la empresa: {{ pagoEmpresa }}</li>
            <li> Parte del salario que paga la SEPE: {{ mensajes.salarioTotalsegundo }}</li>
            <li> Salario Total durante los siguientes meses: {{ mensajes.salarioTotalsegundo + pagoEmpresa }} </li>
          </ul>
          <p>{{ mensajes.salarioBruto }}</p>
        </div>
      </div>

  </div>
</div>
