{# cantidad de noticias que hay en el día de hoy #}
{% set contador = datos['cantidad']-1 %}  


{# los dividimos en grupos de 3 #}
{% set control = (contador/3) %}

{# vemos cuantos grupos de noticias vamos a sacar #}
{# El primer grupo estará visible y los otro ocultos #}
{# Se harán visibles cuando hagamos clic en el circulo #}
{% if control >= 0 %}
  {% set circulos = 1 %}
{% endif %}

{% if control > 1 %}
  {% set circulos = 2 %}
{% endif %}

{% if control > 2 %}
  {% set circulos = 3 %}
{% endif %}

{% if control > 3 %}
  {% set circulos = 4 %}
{% endif %}


<div id="proximos_eventos" class="proximos-eventos">

   <h2>{{ datos['titulo'] }}</h2>

   <div class="eventos-general container">

      <div id="cuerpo-agenda" class="row cal-tit-grande">

        <div class="col-2">
          <div class="dia-grande text-center">
          {# FECHA GENERAL #}
                <div>{{ datos['factual']['diaTexto'] }}</div>
                <div class="dia-num-texto"><b>{{ datos['factual']['diaNum'] }}</b></div>
                <div>{{ datos['factual']['diaMes']}}</div>
          {# FIN DE FECHA GENERAL #}
          </div>

        </div>
      {% if datos['eventos'] == true %}
        <div class="col-10" >
          

            {% if circulos < 2 %}
              {% set cant = contador %}
            {% else %}
              {% set cant = 2 %}
            {% endif %}

            <div id="bcursos0" style="display:" class="cal-cuerpo">
            {% for i in 0..cant %}

                <div class="grupo-evento ">              
                  <div class="cal-tit-desc">{{ datos['curso'][i] }}</div>
                  <div class="evento-horario">{{ datos['horario'][i] }}</div>
                </div>
            {% endfor %}
            </div>

            {% if circulos >= 2 %}
              {% if circulos < 3 %}
                {% set cant = contador %}
              {% else %}
                {% set cant = 5 %}
              {% endif %}

              <div id="bcursos1" style="display:none" class="cal-cuerpo">
                {% for i in 3..cant %} 
  

                  <div class="grupo-evento ">
                    <div class="cal-tit-desc">{{ datos['curso'][i] }}</div>
                    <div class="evento-horario">{{ datos['horario'][i] }}</div>
                </div>
                {% endfor %}

              </div>
            {% endif %}

            {% if circulos >= 3 %}
              <div id="bcursos2" style="display:none" class="cal-cuerpo">
                {% for i in 6..contador %}            
                  <div class="cal-tit-desc">{{ datos['curso'][i] }}</div>
                  <div class="evento-horario">{{ datos['horario'][i] }}</div>
                {% endfor %}
              </div>
            {% endif %}
            
        </div>
        <div class="col-4"><a href="{{datos['nuevaRuta']}}">Ver Agenda</a></div>
        <div class="col-8 d-flex justify-content-end pr-3 cir-eventos">
        {% if (circulos-1) != 0 %}
          {% for i in 0..(circulos-1) %}
            {% if i == 0 %}
              <div class="btn-circulo"><a onClick="mostrar_eventos('bcursos{{i}}')"><i id="cir-event-{{i}}" style="color:#3c83df" class="fas fa-circle"></i></a></div>

            {% else %}
              <div class="btn-circulo"><a onClick="mostrar_eventos('bcursos{{i}}')"><i id="cir-event-{{i}}" style="color:#154481" class="fas fa-circle"></i></a></div>
            {% endif %}

          {% endfor %}
        {% endif %}


      </div>
  {% else %}

    <div class="col-10">
      <div id="bcursos0" style="display:" class="cal-cuerpo">
        <div class="dia-nota text-center">{{ datos['nota'] }}</div>
        
      </div>


    </div>
    <div class="col-4"><a href="{{datos['nuevaRuta']}}">Ver Agenda</a></div>
    <div class="col-8 d-flex justify-content-end pr-3 cir-eventos"></div>

  {% endif %}

 

   </div>
  </div>
  
</div>


<script type="text/javascript">

  function mostrar_eventos(id){

    const cuerpoAgenda = document.querySelector('.cal-cuerpo');
    const bcursos0 = document.querySelector('#bcursos0');
    const bcursos1 = document.querySelector('#bcursos1');
    const bcursos2 = document.querySelector('#bcursos2');
    const circulo0 = document.querySelector('#cir-event-0');
    const circulo1 = document.querySelector('#cir-event-1');
    const circulo2 = document.querySelector('#cir-event-2');

    var ident = id;

    switch (ident) {
      case 'bcursos0':
        bcursos0.style.display = 'block';
        circulo0.style.color = '#3c83df';
        if (bcursos1) {
          bcursos1.style.display ='none';
          circulo1.style.color = '#154481';          
        }
        if (bcursos2) {
          bcursos2.style.display ='none';
          circulo2.style.color = '#154481';          
        }
     
        break;
      case 'bcursos1':
        bcursos0.style.display = 'none';
        bcursos1.style.display ='block';
        circulo0.style.color = '#154481';
        circulo1.style.color = '#3c83df';
        if (bcursos2) {
          bcursos2.style.display ='none';
          circulo2.style.color = '#154481';

          
        }
        break;
      default:
        bcursos0.style.display = 'none';
        bcursos1.style.display ='none';
        bcursos2.style.display ='block';
        circulo0.style.color = '#154481';
        circulo1.style.color = '#154481';
        circulo2.style.color = '#3c83df';
        break;
    }



  }

</script>