<div id="proximos_eventos" class="proximos-eventos">
  <h2>{{ datos['titulo'] }}</h2>

  <div class="eventos-general">
    <div class="cal-tit">
        <div class="cal-fecha-inicio">Fecha Inicio: {{ datos['fecha'][0] }} Hora: {{ datos['horario'][0] }}</div>
        <div class="cal-cuerpo">
          <div class="cal-planta">Planta: {{ datos['planta'][0] }}</div>
          <div class="cal-dirigido">Dirigido a: {{ datos['dirigido'][0] }}</div>
          <div class="cal-tit-desc">Curso: {{ datos['curso'][0] }}</div>
        </div>
    </div>
  </div>
  <div class="eventos-general">
    <div class="cal-tit">
        <div class="cal-fecha-inicio">Fecha Inicio: {{ datos['fecha'][0] }} Hora: {{ datos['horario'][0] }}</div>
        <div class="cal-cuerpo">
          <div class="cal-planta">Planta: {{ datos['planta'][0] }}</div>
          <div class="cal-dirigido">Dirigido a: {{ datos['dirigido'][0] }}</div>
          <div class="cal-tit-desc">Curso: {{ datos['curso'][0] }}</div>
        </div>
    </div>
  </div>
  <div class="eventos-general">
    <div class="cal-tit">
        <div class="cal-fecha-inicio">Fecha Inicio: {{ datos['fecha'][0] }} Hora: {{ datos['horario'][0] }}</div>
        <div class="cal-cuerpo">
          <div class="cal-planta">Planta: {{ datos['planta'][0] }}</div>
          <div class="cal-dirigido">Dirigido a: {{ datos['dirigido'][0] }}</div>
          <div class="cal-tit-desc">Curso: {{ datos['curso'][0] }}</div>
        </div>
    </div>
  </div>
  <div class="eventos-general">
    <div class="cal-tit">
        <div class="cal-fecha-inicio">Fecha Inicio: {{ datos['fecha'][0] }} Hora: {{ datos['horario'][0] }}</div>
        <div class="cal-cuerpo">
          <div class="cal-planta">Planta: {{ datos['planta'][0] }}</div>
          <div class="cal-dirigido">Dirigido a: {{ datos['dirigido'][0] }}</div>
          <div class="cal-tit-desc">Curso: {{ datos['curso'][0] }}</div>
        </div>
    </div>
  </div>
</div>
