
<div id="proximos_eventos" class="container proximos-eventos my-5">
  <h2>{{ datos['titulo'] }}</h2>

  <div class="col-12 eventos-general">
    <div class="cal-tit">
        <div class="cal-fecha-inicio p-2">Fecha Inicio: <strong>{{ datos['fecha'][0] }}</strong> Hora: <strong>{{ datos['horario'][0] }}</strong></div>
        <div class="cal-tit-desc py-1 my-2"><h4>{{ datos['curso'][0] }}</h4></div>
        <div class="cal-cuerpo">
          <div class="cal-planta py-1"><strong>Planta:</strong> {{ datos['planta'][0] }}</div>
          <div class="cal-dirigido py-1"><strong>Dirigido a:</strong> {{ datos['dirigido'][0] }}</div>

        </div>
    </div>
  </div>

  <div class="col-12 eventos-general">
    <div class="cal-tit">
        <div class="cal-fecha-inicio p-2">Fecha Inicio: <strong>{{ datos['fecha'][1] }}</strong> Hora: <strong>{{ datos['horario'][1] }}</strong></div>
        <div class="cal-tit-desc py-1 my-2"><h4>{{ datos['curso'][1] }}</h4></div>
        <div class="cal-cuerpo">
          <div class="cal-planta py-1"><strong>Planta:</strong> {{ datos['planta'][1] }}</div>
          <div class="cal-dirigido py-1"><strong>Dirigido a:</strong> {{ datos['dirigido'][1] }}</div>

        </div>
    </div>
  </div>

  <div class="col-12 eventos-general">
    <div class="cal-tit">
        <div class="cal-fecha-inicio p-2">Fecha Inicio: <strong>{{ datos['fecha'][2] }}</strong> Hora: <strong>{{ datos['horario'][2] }}</strong></div>
        <div class="cal-tit-desc py-1 my-2"><h4>{{ datos['curso'][2] }}</h4></div>
        <div class="cal-cuerpo">
          <div class="cal-planta py-1"><strong>Planta:</strong> {{ datos['planta'][2] }}</div>
          <div class="cal-dirigido py-1"><strong>Dirigido a:</strong> {{ datos['dirigido'][2] }}</div>

        </div>
    </div>
  </div>

  <div class="col-12 eventos-general">
    <div class="cal-tit">
        <div class="cal-fecha-inicio p-2">Fecha Inicio: <strong>{{ datos['fecha'][3] }}</strong> Hora: <strong>{{ datos['horario'][3] }}</strong></div>
        <div class="cal-tit-desc py-1 my-2"><h4>{{ datos['curso'][3] }}</h4></div>
        <div class="cal-cuerpo">
          <div class="cal-planta py-1"><strong>Planta:</strong> {{ datos['planta'][3] }}</div>
          <div class="cal-dirigido py-1"><strong>Dirigido a:</strong> {{ datos['dirigido'][3] }}</div>

        </div>
    </div>
  </div>


</div>
