<div id="envio-correo" class="envio-correo">

  <div class="cuerpo-mensaje"> 

    <p>Prueba de mensaje de correo del FORMULARIO DE PROTECCIÓN DE DATOS</p>

    <p>Nombre de usuario: {{contenido.nombre ~ " " ~ contenido.apellido1 ~ " " ~ contenido.apellido2 }}</p>
    <p><h3>Datos del usuario:</h3></p>
      <ul>
        <li><strong>Domicilio</strong>: {{ contenido.domicilio }}</li>
        <li><strong>Localidad</strong>: {{ contenido.localidad }}</li>
        <li><strong>Domicilio</strong>: {{ contenido.domicilio }}</li>
        <li><strong>Provincia</strong>: {{ contenido.provincia }}</li>
        <li><strong>Código Postal</strong>: {{ contenido.cp}}</li>

        <li><strong>Móvil</strong>: {{ contenido.movil }}</li>
        <li><strong>Fijo</strong>: {{ contenido.fijo }}</li>

        <li><strong>Correo Electrónico</strong>: {{ contenido.email }}</li>
      </ul>
    <p><h3>Envío de derechos</h3></p>
      <ul>
        {% if contenido.acceso %}
          <li><strong>Acceso</strong>: {{ contenido.acceso }}</li>
        {% endif %}

        {% if contenido.rectificacion %}
          <li><strong>Rectificación</strong>: {{ contenido.rectificacion }}</li>
        {% endif %}

        {% if contenido.supresion %}
          <li><strong>Supresión</strong>: {{ contenido.supresion }}</li>
        {% endif %}

        {% if contenido.oposicion %}
          <li><strong>Oposición</strong>: {{ contenido.oposicion }}</li>
        {% endif %}

        {% if contenido.limitacion %}
          <li><strong>Limitación del tratamiento</strong>: {{ contenido.limitacion }}</li>
        {% endif %}

        {% if contenido.portabilidad %}
          <li><strong>Portabilidad</strong>: {{ contenido.portabilidad }}</li>
        {% endif %}

      </ul>

    <p>Mensaje enviado por el Usuario:</p>
    <p>{{contenido.mensaje}}</p>  

  </div>

</div>