{% set contador = (galeria.contador-1) %}

{% set enlace = galeria.urlBase ~ '/' %}

{% set inicioPage = galeria.numPag - 1 %}


{% if galeria.numPag != galeria.paginas %}
	{% set inicio = (inicioPage * 20) %}
	{% set final = ((galeria.numPag * 20)-1) %}
{% else %}
	{% set inicio = (inicioPage * 20) %}
	{% set final = contador %}
{% endif %}


	
<div>

	<div id="resumen-galeria" class="container">
		<h1 class="text-center my-4">GALERIA DE IMÁGENES<br/>COLECCIONES</h1>

		{# INICIO DEL FORMULARIO FILTRO #}

		<div id="formFiltro" class="formulario-filtro my-5">

			<form id="{{ formulario['#id']}}" method="{{ formulario['#method'] }}">

				<div class="row filtroForm">
					<div class="col-12 col-md-4 campoFiltro" >{{ formulario.titulo }}</div>
					<div class="col-12 col-md-4 campoFiltro" >{{ formulario.mes }}</div>
					<div class="col-12 col-md-4 campoFiltro" >{{ formulario.annio}}</div>					
					<div class="col-12">
						<div class="col-12 col-md-2 boton-enviar">{{ formulario.submit }}</div>
					</div>

					{{formulario.form_build_id }}
					{{formulario.form_token }}
					{{formulario.form_id }}
				
				</div>
			</form>
		</div>

		{# FIN del formulario de FILTRO #}

		{% if galeria.mensaje %}

			<div id="mensaje" >No se ha encontrado resultado a la búsqueda realizada. </div>

		{% endif %}

		

		{# INICIO de la GALERIA #}
		<!--<p>{{ galeria.terminos }}</p> -->

		<div class="row rgaleria">
			{% for i in inicio..final %}
				<div class="col-12 col-md-3 colecciones">
					<div class=" gal-col">
						<div class="rgal-img">
							{# pequeñas imágenes#}
							{% set contImg = 0 %}
							{% set ImagCan = galeria.allImagUrl[i]|length %}
							{% for imagenes in galeria.allImagUrl[i] %}

								<div id="img{{ (i+1) ~ contImg }}" class="rgal-destacada rgal-ident{{i}}">
									<a href="{{ enlace }}mostrar-imagenes/{{ galeria.titulo[i] }}/{{ galeria.elmes[i] }}/{{ galeria.nannio[i] }}">								
									<div><img class="img-fluid" src="{{galeria.urlBase}}/sites/default/files/styles/medium/public/{{ imagenes }}"></div>
									</a>
								</div>
								
								{% set contImg = contImg + 1 %}

							{# SELECTOR DE IMÁGENES #}
							{% if ImagCan != 1 %}
								<div id="pasaizq{{i}}" class="btn-pasaizq"><a onClick="plusDivs(-1, 'rgal-ident{{i}}')"> <strong><</strong> </a></div>
								<div id="pasader{{i}}" class="btn-pasader"><a onClick="plusDivs(+1, 'rgal-ident{{i}}')"><strong>></strong> </a></div>
							{% endif %}
							{# FIN DEL SELECTOR DE IMÁGENES #}
								
							{% endfor %}

							
						</div>
						{# título de la imagen #}
						<div class="rgal-tit">{{galeria.titulo[i] | length > 100 ? galeria.titulo[i] | slice(0,40) ~ ' (...) ' : galeria.titulo[i] }}</div>
						{# fin del título #}
						{# año y mes de la imagen #}
						<div class="row rgal-fechas">
							<div class="col-6 galfannio"><a href="{{ enlace }}imagenes?field_a_target_id={{ galeria.nannio[i] }}">{{galeria.annio[i]}}</a></div>
							<div class="col-6 galfmes"><a href="{{ enlace }}imagenes?field_mes_target_id={{ galeria.elmes[i] }}">{{galeria.mes[i]}}</a></div>
						</div>
						{# fin del año e imagen #}
						{# número de imágenes #}
						<div class="rgal-num">
							{{ galeria.repe[i] }} {{ galeria.repe[i] == 1 ? '<span> IMAGEN </span>' : '<span> IMÁGENES </span>'}}</div>	
						{# fin número de imágenes #}					
						
					</div>
				</div>

			{% endfor %}
		</div>
		{# FIN de la GALERIA #}

		{# INICIO del paginador de la galeria #}

		{% set pagelast = galeria.numPag - 1 %}
		{% set pagenext = galeria.numPag + 1 %}

		<div class="paginador">
			{% if galeria.paginas > 1 %}

			<ul>
				{% if galeria.numPag > 1 %}
					<li><a href="{{ enlace }}galeria-imagenes/{{ pagelast }}"> << </a></li>
				{% endif  %}

				{% for i in 1..galeria.paginas %}
					<li><a href="{{ enlace }}galeria-imagenes/{{i}}">{{i}}</a></li>
				{% endfor %}

				{% if galeria.numPag != galeria.paginas %}
					<li><a href="{{ enlace }}galeria-imagenes/{{ pagenext }}"> >> </a></li>
				{% endif %}

			</ul>
			{% endif %}


		</div>

		{# FIN del paginador #}
	</div>
</div>


<script type="text/javascript">

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n, c) {
  showDivs(slideIndex += n, c);
}

function showDivs(n, c) {
  console.log(n);
  var i;
  var x = document.getElementsByClassName(c);
  console.log(c);
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}



</script>