<div id="mediateca" class="container my-5">
	<div class="row justify-content-around media">
		<div class="col-12 col-md-5 media-imagenes">
			<div class="media-img-tit">{{ datos[0] }}</div>
			<div class="media-img-body">
			<a href="{{ datos[2] }}/galeria-imagenes"><img class="img-fluid w-100" src="{{datos[2]}}/themes/custom/elcej/img/galeria-imagenes.png" ></a>

			</div>

		</div>

		<div class="col-12 col-md-5 media-imagenes">
			<div class="media-img-tit">{{ datos[1] }}</div>
			<div class="media-img-body">
			<a href="http://10.12.99.140/sedeVirtual/videos"><img class="img-fluid w-100" src="{{datos[2]}}/themes/custom/elcej/img/galeria-videos.png" ></a>

			</div>

		</div>
	</div>

</div>
