
{% set contador = (datos['cantidad']-1) %}
{% set contInicio = (datos['cantInicio']) %}



{% set total = (contador - contInicio) %}


{% set aCalendario = agenda['data'] %}

{% set ant = aCalendario['last'] %}

{% set anterior = ant %}



{% set rutaBase = datos['rutaBase'] ~ 'ver-toda-agenda/' %}



<div class="container pb-4 ">
      <div class="row header-calendar"  >

        <div class="col" style="display: flex; justify-content: space-between;">
          {% set rutaBaseLast = datos['rutaBase'] ~ 'ver-toda-agenda/' ~ aCalendario['last']  %} 
          <a  href={{ rutaBaseLast }} style="margin:10px;">
            <i class="fas fa-chevron-circle-left" style="font-size:30px;color:white;"></i>
          </a>

          <h3 style="font-weight:bold;margin:10px;">{{ agenda['elmes'] }}  <small>{{ aCalendario['year'] }}</small></h3>
          {% set rutaBaseNext = datos['rutaBase'] ~ 'ver-toda-agenda/' ~ aCalendario['next']  %} 
          <a  href={{ rutaBaseNext }} style="margin:10px;">
            <i class="fas fa-chevron-circle-right" style="font-size:30px;color:white;"></i>
          </a>
        </div>

      </div>
      <div id="dias-semana" class="row">
        <div class="col header-col">Lun</div>
        <div class="col header-col">Mar</div>
        <div class="col header-col">Mie</div>
        <div class="col header-col">Jue</div>
        <div class="col header-col">Vie</div>
        <div class="col header-col">Sab</div>
        <div class="col header-col">Dom</div>
      </div>
      <!-- inicio de semana -->
      {% for weekdata in aCalendario['calendar'] %}
        <div id="dias-mes" class="row">
          {% for dayweek in weekdata['datos'] %}
            {% if dayweek['mes'] == aCalendario['month'] %}
              <div class="col box-day"
              {# coloreamos los días que hay eventos #}
              {% for i in 0..datos['cantEventosMes'] %}
                {% if  dayweek['fecha'] == datos['eventMes'][i] %}
                  id="destacado"
                {% endif %}
              {% endfor %} 
              {# terminamos de colorear #} 
              {% set rutaBase = datos['rutaBase'] ~ 'ver-toda-agenda/' ~ dayweek['fecha']  %}                         
              ><a href={{ rutaBase }}> {{ dayweek['dia'] }}</a></div>
            {% else %}
              <div class="col box-dayoff"></div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}

</div> <!-- /container -->


<div class="container">
  <div id="proximos_eventos" class="proximos-eventos">

    <h2>PRÓXIMOS EVENTOS</h2>

	<div class="eventos-general">
	{% for evento in datos %}
		<div class="cal-cuerpo">
			<div class="cal-tit-desc"><strong>{{ evento[4] }}</strong></div>
			<div class="cal-fecha-inicio">Hora: <strong>{{ evento[1] }}</strong> </div>
			<div class="cal-redate"><strong>Fecha:</strong> {{ evento[0] }}</div>  
			<div class="cal-planta"><strong>Aula:</strong> {{ evento[2] }}</div>
			<div class="cal-dirigido"><strong>Dirigido a:</strong> {{ evento[3] }}</div>                  
		</div>
	{% endfor %}
	</div>
    
  </div>
</div>
