
{% set contador = (datos['cantidad']-1) %}
{% set contInicio = (datos['cantInicio']) %}



{% set total = (contador - contInicio) %}


{% set aCalendario = agenda['data'] %}

{% set ant = aCalendario['last'] %}

{% set anterior = ant %}



{% set rutaBase = base %}


<div class="container pb-4 ">
      <div class="row header-calendar"  >

        <div class="col" style="display: flex; justify-content: space-between;">
          {% set rutaBaseLast = rutaBase ~ '/' ~ aCalendario['last']  %} 
          <a  href={{ rutaBaseLast }} style="margin:10px;">
            <i class="fas fa-chevron-circle-left" style="font-size:30px;color:white;"></i>
          </a>

          <h3 style="font-weight:bold;margin:10px;">{{ agenda['elmes'] }}  <small>{{ aCalendario['year'] }}</small></h3>
          {% set rutaBaseNext = rutaBase ~ '/' ~ aCalendario['next']  %} 
          <a  href={{ rutaBaseNext }} style="margin:10px;">
            <i class="fas fa-chevron-circle-right" style="font-size:30px;color:white;"></i>
          </a>
        </div>

      </div>
      <div id="dias-semana" class="row">
        <div class="col header-col">Lun</div>
        <div class="col header-col">Mar</div>
        <div class="col header-col">Mie</div>
        <div class="col header-col">Jue</div>
        <div class="col header-col">Vie</div>
        <div class="col header-col">Sab</div>
        <div class="col header-col">Dom</div>
      </div>


      <!-- inicio de semana -->
      {% for weekdata in aCalendario['calendar'] %}

        <div id="dias-mes" class="row">
          {% for dayweek in weekdata['datos'] %}
            {% if dayweek['mes'] == aCalendario['month'] %}
              <div class="col box-day"
              {# coloreamos los días que hay eventos #}
              {% for i in 0..datos['cantEventosMes'] %}
             
                {% if  dayweek['fecha'] == agenda['diahoy'] %}
                  id="destacado" 
                {% endif %}
              {% endfor %} 
              {# terminamos de colorear #} 
              {% set urlDia = rutaBase ~ '/' ~ dayweek['fecha']  %}
                
                       
              ><a href={{ urlDia }}> {{ dayweek['dia'] }}</a></div>
            {% else %}
              <div class="col box-dayoff"></div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}

</div> <!-- /container -->

<div class="tipo-events clearfix">
  <div class="event-curso"><i class="fas fa-square"></i>Cursos</div><div class="event-evento"><i class="fas fa-square"></i>Eventos</div>
</div>

<div class="container">

  <div id="proximos_eventos" class="proximos-eventos pt-5">

    <h2>&nbsp;</h2>

	<div class="eventos-general">
	{% for evento in datos %}

    {% if evento[5] == "1" %}
      {% set eventoDestacado = 'geven-destacado' %}
    {% else %}
      {% set eventoDestacado = '' %}
    {% endif %}

		<div class="cal-cuerpo-grande {{ eventoDestacado }}">
			<div class="cal-tit-desc"><strong>{{ evento[4] }}</strong></div>
			<div class="cal-fecha-inicio">Hora: <strong>{{ evento[1] }}</strong> </div>
			<div class="cal-redate"><strong>Fecha:</strong> {{ evento[0] }}</div>  
			<div class="cal-planta"><strong>Lugar:</strong> {{ evento[2] }}</div>
      {% if evento[3] != "" %}
			   <div class="cal-dirigido"><strong>Dirigido a:</strong> {{ evento[3] }}</div>
      {% endif %}                  
		</div>
	{% endfor %}
	</div>
    
  </div>
</div>
